<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Salt" value="0x26, 0xdc, 0xff, 0x00, 0xad, 0xed, 0x7a, 0xee, 0xc5, 0xfe, 0x07, 0xaf, 0x4d, 0x08, 0x22, 0x3c" />
    <add key="InitVector" value="pemgail9uzpgzl88" />
    <add key="Keysize" value="256" />
  </appSettings>
</configuration>